<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodclub</title>
  </head>
  <body>
    <h1>Header</h1>
    <a href="/start">Startsida</a>
    <a href="/members">Medlemslista</a>
    <a href="/add">Lägg till medlem</a>
